body {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgb(108, 75, 192);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;

}